= form_for @factor do |f|
  -if @factor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@factor.errors.count, "error")} prohibited this factor from being saved:"
      %ul
        - @factor.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :track_id, :value => params[:track_id]
  .field
    = f.label :name
    = f.text_field :name
  #factor-type.field
    = f.label :factoree
    = f.select :factoree_type, factor_types.map{|t| [t.type, t.name] }, :prompt => "Please select a type"
  #factoree_div.field

  .actions
    = f.submit 'Save'
