= form_for @tracking do |f|
  - if @tracking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tracking.errors.count, "error")} prohibited track from being save:"
      %ul
        - @tracking.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :user_id, :value => @user.id 
  .field
    = f.label :track
    = collection_select(:tracking, :track_id, Track.all, :id, :name)

  .field
    = f.label :goal
    = f.number_field :goal, :step => 0.01

  .field
    = f.label :time_frame
    = f.time_select :time_frame

  .actions
    = f.submit 'Save'

= link_to :back
